// Primary Button

.primaryButton {

  width: 343px;
  height: 48px;
  background: $black100;
  color: $white;
  border: 2px solid #000000;
  cursor: pointer;

  @include large {
    width: 201px;
  }

  &:hover {
    background-color: $greyC2;
  }

}


// Secondary Button

.secondaryButton {
  width: 343px;
  height: 48px;
  background-color: transparent;
  border: solid $black100 2px;
  cursor: pointer;
  text-decoration: none;

  @include large {
    width: 201px;
  }

  &:hover {
    background-color: $black100;
    color: $white;
  }

  &--white {
    border: solid $white 2px;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: $black100;

    }
  }
}

// Tab Button

.tabBtn{
  height: 48px;
  width: 147px;
  background-color: transparent;
  border: solid $black100 2px;
  cursor: pointer;


  &:hover {
    background-color: $black100;
    color: $white;
  }
}

