// basic colors

$white: #FFFFFF;
$black100: #000000;
$black75: rgba(0, 0, 0, 75);
$grey76: #767676;
$greyC2: #C2C2C2;
$greyE5: #E5E5E5;
$greyF0: #F0F0F0;

// extended colors

$HipHoppink: #D81B60;
$HipHoppinkhell: #E91E63;

$Jazzgelb: #FDD835;
$Jazzgelbhell: #FFEB3B;

$indiemint: #00D79F;
$Indieminthell: #1DE9B6;

$PopRockblau: #3949AB;
$PopRockblauhell: #3F51B5;
$Electronicviolett: #5E35B1;
$Electronicvioletthell: #673AB7;



