// include fonts with @font-face. Example:
//
//@font-face {
//  src: url("../fonts/Adelle_Bold.otf");
//  font-family: Adelle;
//  font-weight: bold;
//}


// Typografie for mobile and desktop Example:

//.lead {
//  font-size: 20px;
//  line-height: 32px;
//  color: #000000;
//  font-family: Adelle, sans-serif;
//}
//
//.copy {
//  font-size: 17px;
//  line-height: 28px;
//  color: #000000;
//  font-family: ProximaNova, sans-serif;
//}
