// include fonts with @font-face

@font-face {
  src: url("src/fonts/Adelle_Bold.otf");
  font-family: AdelleBold;
};

@font-face {
  src: url("src/fonts/Adelle_Reg.otf");
  font-family: AdelleReg;
};

@font-face {
  src: url("src/fonts/ProximaNova-Reg.ttf");
  font-family: ProximaNovaReg;
};

@font-face {
  src: url("src/fonts/ProximaNova-Light.ttf");
  font-family: ProximaNovaLight;
};

@font-face {
  src: url("src/fonts/ProximaNova-Bold.ttf");
  font-family: ProximaNovaBold;
};


// Typografie for mobile and desktop

.lead {
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  font-family: AdelleReg, sans-serif;
}

.copy {
  font-size: 17px;
  line-height: 28px;
  color: #000000;
  font-family: ProximaNovaReg, sans-serif;
}

.footerLabels {
  font-size: 17px;
  line-height: 28px;
  font-family: ProximaNovaReg, sans-serif;
}

.btnTabsHeader {
  font-size: 17px;
  line-height: 28px;
  font-family: ProximaNovaBold, sans-serif;
}

.breadcrumbInfosDatesLikes {
  font-size: 13px;
  line-height: 28px;
  font-family: ProximaNovaReg, sans-serif;
}


// Typografie mobile

h1 {
  font-size: 32px;
  line-height: 40px;
  font-family: AdelleBold, sans-serif;
  color: #000000;
  text-align: center;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-family: AdelleBold, sans-serif;
  color: #000000;
}

h3 {
  font-size: 20px;
  line-height: 32px;
  font-family: AdelleBold, sans-serif;
  color: #000000;
}

.FestivalFont {
  font-size: 48px;
  line-height: 40px;
  font-family: AdelleBold, sans-serif;
  color: #FFFFFF;
}


// Typografie desktop

//h1 {
//  font-size: 56px;
//  line-height: 80px;
//  font-family: RobotoSlab;
//  color: #000000;
//}
//
//h2 {
//  font-size: 32px;
//  line-height: 40px;
//  font-family: RobotoSlab;
//  color: #000000;
//
//}
//
//h3 {
//  font-size: 20px;
//  line-height: 32px;
//  font-family: RobotoSlab;
//  color: #000000;
//
//}
//
//.FestivalFont {
//  font-size: 144px;
//  line-height: 144px;
//  font-family: RobotoSlab;
//  color: #FFFFFF;
//}




