// start with footerSection

.footerSection {
  color: #767676;
  width: 100%;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;;
  grid-template-rows: 64px;
  grid-template-areas:
  "title icons back";


  & ul {
    list-style-type: none;
  }
}

.footerSection__box1 {
  grid-area: title;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  align-items: center;
  width: 30%;
  grid-gap: 20px;
  justify-self: center;
}

.footerSection__box2 {
  grid-area: icons;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 1fr;
  align-items: center;
  grid-gap: 24px;
  width: 30%;
  justify-self: center;
}

.footerSection__box3 {
  width: 27%;
  grid-area: back;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  align-items: center;
  justify-self: center;
  grid-gap: 12px;
}

#socialmedia_facebook, #socialmedia_instagram, #socialmedia_twitter,
#socialmedia_youtube, #socialmedia_snapchat, #navigation_backtotop {
  fill: #767676;
}