// start with footerSection

.footerSection {
  color: #767676;
  width: 100%;
  display: grid;
  grid-template-columns:  70% 30%;;
  grid-template-rows: 56px 56px;
  grid-template-areas:
  "title back"
  "icons .";



  @include medium {
    grid-template-rows: 64px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas:
    "title icons back";
  }


  & ul {
    list-style-type: none;
  }

  &__text {
    display: none;

    @include medium {
      display: inline-block;
    }
  }
}

.footerSection__box1 {
  grid-area: title;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  align-items: center;
  grid-gap: 35px;
  justify-self: flex-end;


  @include medium {
    grid-gap: 20px;
    justify-self: center;
  }
}

.footerSection__box2 {
  grid-area: icons;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 1fr;
  align-items: center;
  grid-gap: 24px;
  justify-self: flex-end;

  @include medium {
    justify-self: center;
  }
}

.footerSection__box3 {
  width: 27%;
  grid-area: back;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  align-items: center;
  justify-self: center;
  grid-gap: 12px;

  @include medium {
    grid-template-columns: auto auto;
  }
}

#socialmedia_facebook, #socialmedia_instagram, #socialmedia_twitter,
#socialmedia_youtube, #socialmedia_snapchat, #navigation_backtotop {
  fill: #767676;
}