// start with headerSection

.headerSection {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 64px;
  z-index: 1;
  background-color: $white;
  position: fixed;
  padding: 16px 0 16px 16px;
  border-bottom: #E5E5E5 1px solid;

  &--changeColor {
    background-color: rgba(0, 0, 0, 0.85);
  }

  &__textMenu {
    margin-left: 11px;
    color: black;

    &--hidden {
      display: none;
    }
  }

  &__textClose {

    display: none;

    &--show {
      display: inline-block;
      color: white;
      margin-left: 11px;
    }
  }


  &__Icon {
    display: flex;
    justify-content: space-between;

    .headerSection__hamburgerBox {




      .headerSection__hamburger {
        transition: ease-in-out 0.5s;
        height: 24px;
        width: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;

        .rack {
          background-color: black;
          width: 24px;
          height: 3px;

        }

        // properties when you close the hamburger:

        .rack.upper {
          transform: rotate(0deg);
          transition: ease-in-out 0.5s;
        }

        .rack.middle {
          opacity: 1;
          transition: ease-in-out 0.5s;
        }

        .rack.lower {
          transform: rotate(0deg);
          transition: ease-in-out 0.5s;
        }

        // properties when you open the hamburger:
        // .headerSection__hamburger-close
        &-close {
          cursor: pointer;


          .rack.upper {
            transform: rotate(-45deg);
            position: relative;
            top: -1px;
            background-color: white;
            width: 24px;
            height: 3px;
            transition: ease-in-out 0.5s;
          }

          .rack.middle {
            opacity: -1;
          }

          .rack.lower {
            transform: rotate(45deg);
            position: relative;
            bottom: 4px;
            background-color: white;
            width: 24px;
            height: 3px;
            transition: ease-in-out 0.5s;
          }


        }


      }
    }
  }

  // black festival logo
  &__flLogoLink {
    margin-left: 32%;

    &--white {
      margin-left: -5%;
    }
  }

  &__flLogo {
    width: 156px;
    height: 23px;
    display: none;

    @include medium {
      display: inline-block;
    }

    &--hide {
      display: none;
    }
  }


  // white festival logo
  &__flLogoWhite {
    display: none;

    &--show {
      width: 156px;
      height: 23px;
      display: none;


      @include medium {
        display: inline-block;
      }

    }
  }

  &__Icon--navLike {
    width: 60%;
    height: 64px;
    display: flex;
    align-items: center;
    border-right: none;
    justify-content: flex-start;

  }

  // start with breadcrumb styling

  &__breadCrumbContainer {
    width: 134px;
    height: 40px;
    position: absolute;
    left: 1.5%;
    top: 135%;
    display: grid;
    grid-template-columns: 15% 15% 55% 15%;
    grid-template-areas: "home arrow text dd";
    justify-items: center;
    grid-gap: 5px;
    align-items: center;
  }
  &__home {
    width: 16px;
    height: 15.04px;
    grid-area: home;
    cursor: pointer;
  }

  &__rightArrow {
    width: 8px;
    height: 8px;
    grid-area: arrow;

  }

  &__dropdownContainer {
    width: 18px;
    height: 18px;
    border: solid 1px $greyC2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80%;
    grid-area: dd;
    cursor: pointer;
  }

  &__dropdown {
    width: 10px;
    height: 10px;
  }

  &__festivals  {
    color: $greyC2;
    grid-area: text;
    align-self: flex-end;
  }

  &__homeIcon, &__rightIcon, &__dropdownIcon {
    fill: $greyC2;
  }




}


.headerSection__Icon--loginTicket {
  width: 40%;
  height: 64px;
  display: flex;
  align-items: center;
  border-left: #E5E5E5 1px solid;
  border-top: none;
  border-right: none;

  .headerSection__IconTicket {
    width: 50%;
    height: 64px;
    border-left: #E5E5E5 1px solid;
    color: #C2C2C2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    border-right: none;

    @include medium {
      width: 60%;
    }

    .headerSection__IconTicketText {
      font-size: 17px;
      line-height: 28px;
      font-weight: bold;
      font-family: Roboto, sans-serif;
      margin-left: 12px;
      display: none;

      .headerSection__IconTicketText:hover {
        background-color: #C2C2C2;
        color: $black100;
      }


      @include medium {
        display: inline-block;
      }

    }

  }

  .headerSection__IconTicket:hover {
    background-color: #C2C2C2;
    color: $black100;

    .navigation__ticket {
      fill: black;
    }


  }


  .headerSection__IconLogin {
    width: 50%;
    height: 64px;
    display: flex;
    justify-content: center;
    color: #C2C2C2;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:hover {
      color: $black100;

    }


    @include medium {
      width: 40%;
    }


    .headerSection__IconLoginText {
      font-size: 17px;
      line-height: 28px;
      font-weight: bold;
      font-family: Roboto, sans-serif;
      margin-left: 12px;
      display: none;


      @include medium {
        display: inline-block;
      }





    }
  }


  .headerSection__IconLogin:hover {
    background-color: #C2C2C2;

     .navigation__login {
       fill: black;
     }

  }


}


.headerSection__IconLike {




  @include medium {
    visibility: hidden;
  }


}

.headerSection__IconNav {
  padding-left: 16px;
}

// new color for svg

.navigation__like {
  fill: #000000;

  &--white {
    fill: #FFFFFF;
  }

}

.navigation__login {
  fill: #C2C2C2;

  &:hover {
    fill: black;
  }


  &--white {
    fill: #FFFFFF;
  }

  &--black {
    fill: #000000;
  }


}

.navigation__ticket {
  fill: #C2C2C2;

  &:hover {
    fill: black;
  }

  &--white {
    fill: #FFFFFF;
  }
}












