

// start with headerSection

.headerSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 64px;
  z-index: 1;
  background-color: $white;
  position: relative;

  &--changeColor {
    background-color: rgba(0, 0, 0, 0.85);
  }

  .headerSection__Icon {
    display: flex;
    justify-content: space-between;

    .headerSection__flLogo {
      width: 156px;
      height: 23px;
      display: none;

      @include medium {
        margin-left: auto;
        display: inline-block;
      }

      //@include small {
      //  display: inline-block;
      //  margin-left: 25%;
      //}

    }

    .headerSection__hamburgerBox {

      padding-left: 2%;


      .headerSection__hamburger {
        height: 24px;
        width: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;

        .rack {
          background-color: black;
          width: 24px;
          height: 3px;

        }


        // .headerSection__hamburger-close
        &-close {
          cursor: pointer;


          .rack.upper {
            transform: rotate(-45deg);
            position: relative;
            top: -1px;
            background-color: white;
            width: 24px;
            height: 3px;
            transition: ease-in-out 0.5s;
          }

          .rack.middle {
            opacity: -1;
          }

          .rack.lower {
            transform: rotate(45deg);
            position: relative;
            bottom: 4px;
            background-color: white;
            width: 24px;
            height: 3px;
            transition: ease-in-out 0.5s;
          }


        }


      }
    }

    .headerSection__text {
      margin-left: 11px;
    }




  }

  .headerSection__Icon--navLike {
    width: 65%;
    height: 64px;
    display: flex;
    align-items: center;
    border: #E5E5E5 1px solid;
    border-right: none;
    justify-content: flex-start;
    border-top: none;
    border-left: none;

  }


}






// start with navSection

.headerSection__text--hide {
  //display: none;
}




.headerSection__Icon--loginTicket {
  width: 35%;
  height: 64px;
  display: flex;
  align-items: center;
  border: #E5E5E5 1px solid;
  border-top: none;
  border-right: none;

  .headerSection__IconTicket {
    width: 50%;
    height: 64px;
    border-left: #E5E5E5 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include small {
      width: 50%;
    }

    .headerSection__IconTicketText {
      font-size: 17px;
      color: #C2C2C2;
      line-height: 28px;
      font-weight: bold;
      font-family: Roboto, sans-serif;
      margin-left: 12px;
      display: none;


      @include medium {
        display: inline-block;
      }

    }

  }

  .headerSection__IconTicket:hover {
    background-color: #C2C2C2;
  }


  .headerSection__IconLogin {
    width: 50%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;


    @include small {
      width: 50%;
    }


    .headerSection__IconLoginText {
      font-size: 17px;
      color: #C2C2C2;
      line-height: 28px;
      font-weight: bold;
      font-family: Roboto, sans-serif;
      margin-left: 12px;
      display: none;

      @include medium {
        display: inline-block;
      }




    }
  }



  .headerSection__IconLogin:hover {
    background-color: #C2C2C2;
  }




}





.headerSection__IconLike {
  margin-left: 40%;

  @include medium {
    visibility: hidden;
  }


}

.headerSection__IconNav {
  padding-left: 16px;
}

// new color for svg

.navigation__like {
  fill: #000000;

  &--white {
    fill: #FFFFFF;
  }

}

.navigation__login {
  fill: #C2C2C2;



  &--white {
    fill: #FFFFFF;
  }

  &--black {
    fill: #000000;
  }


}

.navigation__ticket {
  fill: #C2C2C2;

  &--white {
    fill: #FFFFFF;
  }

}









