//.navSection__box {
//  position: relative;
//}

.navSection {
  top: 64px;
  position: absolute;
  background-color: hotpink;
  width: 100%;
  height: 834px;
  //display: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  //
  //&--show {
  //  max-width: 1600px;
  //  width: 100%;
  //  height: 640px;
  //  background-color: rgba(0, 0, 0, 0.85);
  //  padding: 0 16px 0 16px;
  //  //display: inline-block;
  //  z-index: 1;
  //  position: absolute;
  //  top: 64px;
  //
  //}

  &__BoxB {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 216px;
    grid-template-areas:
    "icons search";
  }
}






.navSection__h2 {
  color: #FFFFFF;
}

.navSection__titles {
  height: 307px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include medium {
    margin-top: 160px;
  }
}

.navSection__input {
  width: 100%;
  height: 43px;
  display: flex;
  flex-direction: row;
  border: none;
  border-bottom: 2px solid #D8D8D8;
  margin-top: 100px;


  @include medium {
    margin-top: 172px;
    grid-area: search;
  }

}

.navSection__text {
  width: 92%;
  border: none;
  background-color: transparent;
  color: white;
}

.navSection__searchBox {
  height: 100%;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}



.navSection__searchIcon {
  height: 30px;
  width: 30px;
  background-image: url("../images/Icons/navigation_suche.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  fill: white;

  @include medium {
    grid-area: icons;
  }
}

.navSection__ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include medium {
    margin-top: 160px;
  }
}

#socialmedia_nav
{
  fill: white;
  width: 34px;

}






