.navSection {
  width: 375px;
  height: 640px;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.85);
}

.navSection__h2 {
  color: #FFFFFF;
}

.navSection__titles {
  background-color: hotpink;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.navSection__input {
  background-color: green;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navSection__searchIcon {
  background-image: url("../images/Icons/navigation_suche.svg");
  height: 50px;
  width: 20%;
  background-repeat: no-repeat;
}