

// start with titleSection

.titelSection {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 21px;
  text-align: center;
}

.titelSection__btn {
  width: 343px;
  height: 48px;
  top: 392px;
  background: $black100;
  color: $white;
  margin-top: 39px;
}

.titelSection__bigPicture {
  width: 375px;
  height: 176px;
  margin-top: 56px;
}

// start with magazinSection

.magazinSection {
  margin-top: 68px;
}

.magazinSection__box {
  margin-top: 30px;
  margin-bottom: 38px;
  width: 100%;
}

.magazinSection__box--Title {
}

.magazinSection__box--Btn {
  background-color: white;
  border: none;
  margin-top: 6px;
  text-decoration: underline;
}

.magazinSection__box--border {
  position: absolute;
  width: 375px;
  height: 1px;
  background-color: #E5E5E5;
  margin-top: 32px;
}

.magazinSection__moreBtn {
  width: 343px;
  height: 48px;
  margin-top: 48px;
  background-color: $white;
  margin-left: 16px;
}

// start with bannerSection

.bannerSection {
  width: 375px;
  height: 432px;
  background-color: $black100;
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerSection__box {
  position: relative;
  height: 30%;
}

.bannerSection__pic {
  width: 85px;
  position: absolute;
  transform: translate(-50%);
  top: -64px;
}

.bannerSection__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70%;
}

.bannerSection__title {
  color: $white;
  font-size: 32px;
  line-height: 40px;
  font-family: Roboto;
  padding: 0 32px 0 32px;
}

.bannerSection__btn {
  width: 227px;
  height: 48px;
  color: $white;
  background-color: $black100;
  border: solid 0.5px $white;
  font-family: Roboto sans-serif;
  font-weight: 200;
}

.bannerSection__img--1 {
  width: 172px;
  height: 50px;
}

.bannerSection__img--2 {
  width: 172px;
  height: 50px;
}


// start with discoverySection

.discoverySection {
  margin-top: 80px;
}

.discoverySection__p {
  text-align: center;
  padding: 20px 16px 0 16px;
}

.discoverySection__img {
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-image: url("../images/Icons/music_jazz.png");
}


