.overviewSection {
  width: 100%;
  padding: 48px 120px 80px 120px;
  background-color: $greyF0;

  &__controlPanel {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "date location container";
    color: #767676;
  }
  &__icon {
    margin-left: 20px;
  }


  &__labelContainer--date {
    grid-area: date;
    display: flex;
    align-items: center;
  }

  &__labelContainer--location {
    grid-area: location;
    display: flex;
  }

  &____tilesListContainer {
    grid-area: container;
  }

  &__icon {
    cursor: pointer;
  }

  &__controllSort {
    height: 18px;
    width: 24px;
    fill: $grey76;

    &:hover {
      fill: $black100;
    }
  }

  &__controllDropdown {
    height: 18px;
    width: 24px;
    align-self: center;
    fill: $grey76;

    &:hover {
      fill: $black100;
    }
  }

  &__controllTiles {
    height: 18px;
    width: 24px;
    margin-right: 10px;
    align-self: center;
    fill: $grey76;

    &:hover {
      fill: $black100;
    }
  }

  &__controllList {
    height: 18px;
    width: 24px;
    align-self: center;
    fill: $grey76;

    &:hover {
      fill: $black100;
    }
  }

  &__tilesListContainer {
    display: flex;
    justify-content: flex-end;
  }

  &__labelContainer--tiles {
    display: flex;
    flex-direction: row-reverse;
  }

  &__labelContainer--list {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 30px;
  }

  &__cardContainer {
    background-color: hotpink;
    width: 100%;
    display: grid;
    grid-template-columns: 343px;
    grid-auto-rows: auto;
    justify-content: center;
    grid-gap: 16px;
    //grid-template-columns: 384px 384px 384px;
    //grid-template-rows: 576px 576px 576px;
    //grid-gap: 24px 24px;
    //justify-content: center;
    //background-color: hotpink;
  }

  &__cardBox {
    background-color: #00D79F;
    height: 352px;

  }

  &__text--tiles {
    display: none;
  }

  &__text--list {
    display: none;
  }

  &__text--choose {
    display: none;

    @include medium {
      display: inline-block;
      margin-left: 4px;
    }
  }





}

