.overviewSection {
  width: 100%;
  background-color: $greyF0;
  padding: 0 15px 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include medium {
    padding: 0 120px 0 120px;
  }

// start with controll panel (date, location, tiles, list)

  &__controlPanel {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "date location container";
    color: #767676;
    padding: 24px 0 24px 0;
  }
  &__icon {
    margin-left: 20px;
  }

  &__svg {
    width: 24px;
    height: 17.8px;
  }


  &__labelContainer--date {
    grid-area: date;
    display: flex;
    align-items: center;
  }

  &__labelContainer--location {
    grid-area: location;
    display: flex;
  }


  &__icon {
    cursor: pointer;
  }

  &__controllSort {
    height: 18px;
    width: 24px;
    fill: $grey76;

    &:hover {
      fill: $black100;
    }
  }

  &__controllDropdown {
    height: 18px;
    width: 24px;
    align-self: center;
    fill: $grey76;

    &:hover {
      fill: $black100;
    }
  }

  &__controllTiles {
    height: 18px;
    width: 24px;
    margin-right: 10px;
    align-self: center;
    fill: $grey76;

    &:hover {
      fill: $black100;
    }
  }

  &__controllList {
    height: 18px;
    width: 24px;
    align-self: center;
    fill: $grey76;

    &:hover {
      fill: $black100;
    }
  }

  &__tilesListContainer {
    display: flex;
    justify-content: flex-end;
    grid-area: container;
  }

  &__labelContainer--tiles {
    display: flex;
    flex-direction: row-reverse;
  }

  &__labelContainer--list {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 30px;
  }

  // tiles view

  &__cardContainerTiles {
    //display: none;
    width: 100%;
    display: grid;
    grid-template-columns: 343px;
    grid-auto-rows: auto;
    justify-content: center;
    grid-gap: 24px;
    max-width: 343px;

    @include medium {
      grid-template-columns: 343px 343px;
    }

    @include large {
      grid-template-columns: 384px 384px 384px;
    }
  }



  &__cardBox {

    background-color: white;
    height: 352px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 232px 1fr;
    grid-template-areas:
    "pic"
    "content";

    @include medium {
      height: 576px;
    }



  }

  &__text--tiles {
    display: none;
  }

  &__text--list {
    display: none;
  }

  &__text--choose {
    display: none;

    @include medium {
      display: inline-block;
      margin-left: 4px;
    }
  }

// start with style the cardBoxes


  &__pic {
    background-color: lightslategrey;
    width: 100%;
    height: 232px;
    grid-area: pic;
  }

  &__cardBoxContent {
    grid-area: content;
    display: grid;
    padding: 28px 24px 21px 24px;
    grid-template-columns: 1fr;
    grid-auto-rows: 0 auto auto auto;
    grid-template-areas:
    "panel"
    "info"
    "title";


    @include medium {
      padding: 28px 24px 21px 24px;
      grid-template-columns: 1fr;
      grid-auto-rows: 0 auto auto auto auto;
      grid-template-areas:
    "panel"
    "info"
    "title"
    "content"
    "notice";
    }

  }

  &__iconPanel {
    grid-area: panel;
    position: relative;
    bottom: 76px;
    width: 48px;
    height: 48px;
    left: 50%;
    margin-left: -24px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--indie {
      background-color: $indiemint;

    }

    &--hiphop {
      background-color: $HipHoppink;
    }

    &--electronic {
      background-color: $Electronicviolett;
    }

    &--jazz {
      background-color: $Jazzgelb;
    }

    &--poprock {
      background-color: $PopRockblau;
    }
  }

  &__sign {
    fill: $white;
  }


  &__info {
    grid-area: info;
    color: rgba(0, 0, 0, 0.746065);
  }

  &__cardTitle {
    grid-area: title;
    font-weight: normal;

    @include medium {
      font-weight: bold;
    }

  }

  &__cardText {

    display: none;

    @include medium {
      display: inline-block;
      grid-area: content;
      color: rgba(0, 0, 0, 0.746065);
    }

  }

  &__noticeContainer {
    grid-area: title;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    cursor: pointer;


    @include medium {
      grid-area: notice;
      align-self: flex-end;
      justify-self: flex-start;
    }
  }

  &__notice {
    display: none;

    @include medium {
      display: inline-block;
    }
  }

  &__noticeStar {
    margin-right: 6px;
  }

  &__btn {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

// list view

.overviewSection__cardContainerlist {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 176px;
  max-width: unset;

  @include medium {
    grid-template-rows: 104px;

  }

  & .overviewSection__cardBox {
    display: grid;
    grid-template-rows: 176px;
    grid-template-columns: auto;
    height: unset;
    grid-template-areas: "content";

    @include medium {
      grid-template-columns: 14% auto;
      grid-template-rows: 104px;
      grid-template-areas: "pic content";
    }
  }

  & .overviewSection__pic {
    display: none;

    @include medium {
      display: inline-block;
      grid-area: pic;
      background-color: lightgray;
      max-width: 169px;
      height: 104px;
    }
  }

  & .overviewSection__cardBoxContent {
    padding: unset;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "panel"
    "title"
    "location"
    "info";
    grid-template-rows: auto auto auto auto;

    @include medium {
      grid-template-columns: 10% 39% 37% 14%;
      grid-template-areas: "panel tilte info notice";
      grid-template-rows: auto;
    }

  }

  & .overviewSection__iconPanel {
    grid-area: panel;
    position: static;
    margin-left: 0;
    width: 100%;
    height: 48px;

    @include medium {
      height: 104px;
    }
  }

  & .overviewSection__cardTitle {
    grid-area: title;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 24px;
    font-weight: normal;


    @include medium {
      padding-left: unset;
      grid-area: unset;
      border-right: solid #E5E5E5;
      margin-left: 31px;
      font-weight: bold;
    }
  }

  & .overviewSection__location {
    grid-area: location;
    font-size: 17px;


    @include medium {
      border-right: solid #E5E5E5;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & .overviewSection__info {
    grid-area: info;
    display: grid;
    grid-template-columns: 80%;
    grid-template-areas: "location" "date";
    padding-left: 24px;

    @include medium {
      border-right: solid #E5E5E5;
      grid-template-columns: 44% 56%;
      grid-template-areas: "location date";
      padding-left: unset;
    }


  }

  & .overviewSection__noticeContainer {
    grid-area: info;
    align-self: center;

    @include medium {
      grid-area: notice;
      justify-self: center;
    }
  }

  & .overviewSection__notice {

    display: none;

    @include large {
      display: inline-block;
    }
  }

  & .overviewSection__cardText {
    display: none;
  }

  & .overviewSection__slash {
    display: none;
  }

  & .overviewSection__noticeStar {
    margin-right: 24px;

    @include medium {
      margin-right: 6px;
    }
  }

  & .overviewSection__date {
    grid-area: date;
    font-size: 17px;


    @include medium {
      align-self: center;
      justify-self: center;
      text-align: center;
    }
  }

  & .overviewSection__svg {
    width: 24px;
    height: 17.8px;

    @include medium {
      width: 52px;
      height: 38.57px;
    }

  }


}

